// @import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Space+Mono:ital,wght@1,700&display=swap");

:root {
  --backgroundColor: #fefefe;
  --main-color: #111;
  --second-color: #fff;
  --text-color: ##111;
  --border-color: #111;
}

.dark {
  --backgroundColor: #000000ed;
  --main-color: #fefefe;
  --second-color: #111;
  --text-color: #fefefe;
  --border-color: #fff;
}
* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  // font-family: "Rubik", sans-serif;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-display: optional;
  background-color: var(--backgroundColor);
}
body,
html {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--backgroundColor);
}
::selection {
  background: var(--main-color);
  color: var(--second-color);
}
a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  transition: all 0.2s ease;
}
ul {
  list-style: none;
}
.btn {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 50px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 1.25rem 1.75rem;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  &:hover {
    color: var(--backgroundColor);
    background-color: var(--main-color);
  }
}

.grid {
  width: 90%;
  max-width: 1250px;
  margin: auto;
}
.header {
  color: var(--main-color);
  line-height: 1.7;
  text-align: center;
  margin: 1em auto;
  font-size: 3em;
  letter-spacing: -.05em;
  font-weight: 700;
  text-transform: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
}
.filter {
  filter: invert(1);
}
